
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: var(--font-beiruti), sans-serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}

.delay-1 { animation-delay: .2s; }
.delay-2 { animation-delay: .4s; }
.delay-3 { animation-delay: .6s; }
.delay-4 { animation-delay: .8s; }
